*.o
stamp-h1
*.log
.deps
*~
~*
Makefile
Makefile.in
autom4te.cache
*.bak
config.h
config.h.in
compile
install-sh
aclocal.m4
.dirstamp
depcomp
configure
wmbus-tool
config.status
missing
.libs
*.la
ltmain.sh
*.lo
Doxyfile
*.trs
ar-lib
config.guess
config.sub
libtool
doc/
